.root {
    -grey900: #212121;
    -grey800: #424242;
    -grey700: #616161;
    -grey700_50: rgba(98, 98, 98, 0.5);
    -grey600: #757575;
    -grey500: #9E9E9E;
    -grey400: #BDBDBD;
    -grey100: #F5F5F5;
}

.mainView {
    -fx-background-color: -grey900;
}

.split-pane {
    -fx-background-color: transparent;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 1;
}

/* need context menu styles here otherwise it doesn't work */
.context-menu {
    -fx-background-color: -grey900;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-text-fill: -grey100;
}

.headingComboBox .context-menu {
    -fx-background-color: -grey700;
    -fx-background-radius: 8;
    -fx-text-fill: -grey100;
}

.headingComboBox .context-menu .menu-item:hover {
    -fx-background-color: -grey600;
    -fx-font-weight: 400;
}

.headingComboBox .context-menu .menu-item.headingMenuH1 {
    -fx-font-size: 48px;
}

.headingComboBox .context-menu .menu-item.headingMenuH2 {
    -fx-font-size: 36px;
}

.headingComboBox .context-menu .menu-item.headingMenuH3 {
    -fx-font-size: 24px;
}

.headingComboBox .context-menu .menu-item.headingMenuH4 {
    -fx-font-size: 21px;
}

.headingComboBox .context-menu .menu-item.headingMenuH5 {
    -fx-font-size: 18px;
}

.headingComboBox .context-menu .menu-item.headingMenuH6 {
    -fx-font-size: 15px;
}

.menu-item .label {
    -fx-text-fill: -grey100;
}

.menu-item:focused {
    -fx-background-color: -grey700;
}