.noteTextArea {
    -fx-padding: 0 20 5 20;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-wrap-text: true;
    -fx-text-fill: -grey100;
}

.noteTextArea .content {
    -fx-background-color: transparent;
}

.noteTextArea .scroll-pane {
    -fx-background-color: transparent;
}

.noteTextArea .scroll-pane .viewport {
    -fx-background-color: transparent;
}


.noteTextArea .scroll-pane .content {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: -grey800;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: -grey600;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(-grey600, 10.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.label {
    -fx-text-fill: -grey400;
    -fx-padding: 10 10 10 10;
    -fx-background-color: -grey800;
    -fx-background-radius: 6px 6px 6px 6px;
}

.countHBox {
    -fx-padding: 0 20 5 0;
}