.noteToolbar {
    -fx-background-color: transparent;
}

.noteToolbarContent {
    -fx-background-color: -grey800;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-padding: 8 10 8 10;
}

.button {
    -fx-background-color: transparent;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.button:hover {
    -fx-background-color: -grey700_50;
}

.menu-button {
    -fx-background-color: -grey700;
    -fx-background-radius: 8px;
    -fx-text-fill: -grey400;
}

.menu-button .label {
    -fx-text-fill: -grey400;
}

.menu-button .list-cell {
    -fx-text-fill: -grey400;
    -fx-background-color: -grey700;
    -fx-background-radius: 8px;
}

.menu-button .list-cell:hover {
    -fx-text-fill: -grey400;
    -fx-background-color: -grey600;
    -fx-background-radius: 8px;
}

.menu-button .list-view {
    -fx-background-color: -grey700;
    -fx-text-fill: -grey400;
    -fx-background-radius: 8px;
    -fx-padding: 8px;
}

.menu-button .arrow-button .arrow {
    -fx-background-color: -grey500;
}

.separator .line {
    -fx-border-color: -grey700;
    -fx-border-width: 1px;
}
