.sidebar {
    -fx-background-color: -grey800;
}

.sidebar-text-field {
    -fx-background-color: -grey700;
    -fx-text-fill: -grey100;
}

.tree-cell {
    -fx-background-color: -grey800;
    -fx-border-color: -grey800;
    -fx-text-fill: -grey100;
    -fx-margin: 10;
}

.tree-view {
    -fx-background-color: -grey800;
    -fx-border-color: -grey800;
}

.tree-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -grey500;
}

.tree-cell:selected {
    -fx-background-color: -grey700;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.scroll-bar:horizontal * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.scroll-bar:vertical .track {
    -fx-background-color: -grey700;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: -grey500;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(-grey600, 10.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}