@font-face {
    font-family: "Lato Black";
    src: url("../fonts/Lato/Lato_Black.ttf");
}

.sidebarHeader {
    -fx-background-color: transparent;
}

HBox {
    -fx-alignment: center ;
}

.button {
    -fx-background-color: transparent;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.button:hover {
    -fx-background-color: -grey700_50;
}

.label {
    -fx-text-fill: -grey100;
    -fx-font-family: "Lato Black";
}

.sidebarHeaderDivider {
    -fx-background-color: -grey700;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-background-radius: 8px;
    -fx-text-fill: -grey100;
}

.menu-button:hover {
    -fx-background-color: -grey700_50;
}

.menu-button .label {
    -fx-text-fill: -grey100;
}

.menu-button .list-cell {
    -fx-text-fill: -grey100;
    -fx-background-color: -grey700;
    -fx-background-radius: 8px;
}

.menu-button .list-cell:hover {
    -fx-text-fill: -grey100;
    -fx-background-color: -grey600;
    -fx-background-radius: 8px;
}

.menu-button .list-view {
    -fx-background-color: -grey700;
    -fx-text-fill: -grey100;
    -fx-background-radius: 8px;
    -fx-padding: 8px;
}

.menu-button .arrow-button .arrow {
    -fx-background-color: -grey500;
}

.separator .line {
    -fx-border-color: -grey700;
    -fx-border-width: 1px;
}

.sortingComboBox .context-menu {
    -fx-background-color: -grey800;
    -fx-text-fill: -grey100;
}

.sortingComboBox .context-menu .menu-item:hover {
    -fx-background-color: -grey700;
    -fx-font-weight: 400;
}

.sortingComboBox .context-menu .menu-item {
    -fx-font-size: 15px;
    -fx-mark-color: -grey100
}